/* css required for the login html page */

.card {
    margin-left: 30%;
    margin-top: 3.2%;
    width: 40%;
    height: 30%;
}

.card-body {
    background-color: #6888D6;
}

.registerUser{
    height: 300px;
}