<!-- display the user details as header -->
<div align="center" class="page-header" id="header">
  <b>Welcome : {{this.display[0].firstName}} {{this.display[0].lastName}} ({{this.display[0].userType}})</b>
</div>
<!-- update an existing user form -->
<div class="container">
  <form [formGroup]="updateUserForm">
    <div align="left">
      <h3>
        <b>
          <u>
            Provide Your Complete Information:-</u>
        </b>
      </h3>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>First Name: -</b>
      </label>
      <div class="col-sm-4">
        <input formControlName="firstName" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Last Name: -</b>
      </label>
      <div class="col-sm-4">
        <input formControlName="lastName" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Username: -</b>
      </label>
      <div class="col-sm-4">
        <input formControlName="username" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Address: -</b>
      </label>
      <div class="col-sm-4">
        <input formControlName="address" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Age: -</b>
      </label>
      <div class="col-sm-4">
        <input formControlName="age" type="number" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Employee Code: -</b>
      </label>
      <div class="col-sm-4">
        <input formControlName="employeeCode" />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Employee Status: - </b>
      </label> &nbsp;&nbsp;
      <div class="col-sm-4">
        <div class="form-group row">
          <select id="typeOfUser" formControlName="employeeStatus" class="col-sm-6 col-form-label">
            <option value="" disabled selected="selected">Select your option</option>
            <option value="Permanant">Permanant</option>
            <option value="Temporary">Temporary</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>Employee Report Status: - </b>
      </label> &nbsp;&nbsp;
      <div class="col-sm-4">
        <div class="form-group row">
          <select id="typeOfUser" formControlName="employeeReport" class="col-sm-6 col-form-label">
            <option value="" disabled selected="selected">Select your option</option>
            <option value="Green">Green</option>
            <option value="Amber">Amber</option>
            <option value="Red">Red</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">
        <b>User Type: - </b>
      </label> &nbsp;&nbsp;
      <div class="col-sm-4">
        <div class="form-group row">
          <select id="typeOfUser" formControlName="userType" class="col-sm-6 col-form-label">
            <option value="" disabled selected="selected">Select your option</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </div>
      </div>
    </div>
    <div align="left" class="alignButton">
      <button type="submit" (click)="update()" class="btn btn-dark">
        <b>Confirm</b>
      </button>
    </div>
  </form>
</div>